.body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .weather { grid-area: 1 / 1 / 4 / 3; }
    .busser { grid-area: 1 / 3 / 4 / 5; }
    .menu { grid-area: 4 / 1 / 7 / 5; }
    .class { grid-area: 1 / 5 / 7 / 8; }

    .weather{
        background-color: rgb(255, 0, 0);
    }